networks:
  default:
    name: ${COMPOSE_PROJECT_NAME}
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET}.0/24
          gateway: ${SUBNET}.1

services:
  postgresql-master:
    build:
      context: images/postgresql-master
    container_name: ${COMPOSE_PROJECT_NAME}-pg-01
    restart: always
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5432:5432"
    volumes:
      - ./volumes/postgresql-master-data:/var/lib/postgresql/data:rw
      - ./images/postgresql-master/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres && psql -U postgres -tAc \"select 1 from pg_roles where rolname='user_owner'\" | grep -q 1"]
      interval: 5s
      timeout: 5s
      retries: 30

  postgresql-slave:
    build:
      context: images/postgresql-slave
    container_name: ${COMPOSE_PROJECT_NAME}-pg-02
    restart: always
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5434:5432"
    volumes:
      - ./volumes/postgresql-slave-data:/var/lib/postgresql/data:rw
      - ./images/postgresql-master/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
    depends_on:
      postgresql-master:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres && psql -U postgres -tAc \"select pg_is_in_recovery()::int\" | grep -q 1"]
      interval: 5s
      timeout: 5s
      retries: 60

  pgbouncer-master:
    image: bitnamilegacy/pgbouncer:1.24.1
    container_name: ${COMPOSE_PROJECT_NAME}-pgbouncer-01
    restart: always
    environment:
      POSTGRESQL_HOST: postgresql-master
      POSTGRESQL_DATABASE: maindb
      POSTGRESQL_USERNAME: user_owner
      POSTGRESQL_PASSWORD: "123"
      PGBOUNCER_DATABASE: maindb
      PGBOUNCER_POOL_MODE: transaction
      PGBOUNCER_IGNORE_STARTUP_PARAMETERS: extra_float_digits
    ports:
      - "6432:6432"
    volumes:
      - ./images/pgbouncer/userlist.txt:/etc/pgbouncer/userlist.txt:ro
    depends_on:
      postgresql-master:
        condition: service_healthy

  pgbouncer-slave:
    image: bitnamilegacy/pgbouncer:1.24.1
    container_name: ${COMPOSE_PROJECT_NAME}-pgbouncer-02
    restart: always
    environment:
      POSTGRESQL_HOST: postgresql-slave
      POSTGRESQL_DATABASE: maindb
      POSTGRESQL_USERNAME: user_owner
      POSTGRESQL_PASSWORD: "123"
      PGBOUNCER_DATABASE: maindb
      PGBOUNCER_POOL_MODE: transaction
      PGBOUNCER_IGNORE_STARTUP_PARAMETERS: extra_float_digits
    ports:
      - "6434:6432"
    volumes:
      - ./images/pgbouncer/userlist.txt:/etc/pgbouncer/userlist.txt:ro
    depends_on:
      postgresql-slave:
        condition: service_healthy
